<h1>Tell Me Some Cool Shit About a Cool Place!</h1>
<br>
<form action='/create' method='post'>
  <input type="text" name="title" placeholder='Name of the cool place'>
  <input type="url" name="image" placeholder='A sweet pic, bro'>
  <textarea name="content" placeholder='Describe that Ish'></textarea>
  <button type='submit'> ADD THIS PLACE!</button>
</form>
